<!-- Footer -->
	<footer id="footer">
		<div class="footer-wrap" style="background-color:#555;background-image:none;">
			<span style="text-transform:uppercase;font-weight:600;letter-spacing:5.66667px;line-height:1.65em;margin-right:.325em;padding:0 2em;font-size:.75em;">&copy; {{ site.title }} {{ site.subtitle }} - {{ 'now' | date: "%Y" }}</span>
		</div>
	</footer>

</div>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | relative_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | relative_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | relative_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | relative_url }}"></script>
	<script src="{{ "assets/js/util.js" | relative_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | relative_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | relative_url }}"></script>
