<!-- Contact -->
<section id="contact">
	<div class="inner">
		<section>
			<h3 style="font-size:1em;letter-spacing:5.66667px;">Schrijf een bericht</h3>
			<form action="https://formspree.io/{{ site.email }}" method="POST">
				<div class="field half first">
					<label for="name">Naam</label>
					<input type="text" name="name" id="name" />
				</div>
				<div class="field half">
					<label for="email">Email</label>
					<input type="text" name="_replyto" id="email" />
				</div>
				<div class="field">
					<label for="message">Bericht</label>
					<textarea name="message" id="message" rows="6"></textarea>
				</div>
				<ul class="actions">
					<li><input type="submit" value="Verstuur" class="special" /></li>
					<li><input type="reset" value="Wis" /></li>
				</ul>
			</form>
		</section>
	</div>
</section>

<!-- Footer -->
	<footer id="footer">
		<div class="footer-wrap">
			<span style="text-transform:uppercase;font-weight:600;letter-spacing:5.66667px;line-height:1.65em;margin-right:.325em;padding:0 2em;font-size:.75em;">&copy; {{ site.title }} {{ site.subtitle }} - {{ 'now' | date: "%Y" }}</span>
		</div>
	</footer>

</div>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | relative_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | relative_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | relative_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | relative_url }}"></script>
	<script src="{{ "assets/js/util.js" | relative_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | relative_url }}"></script>
