<!DOCTYPE html>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

{% include head.html %}

<body class="home">

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
          <div class="content">
          </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include tiles.html %}

    {% include footer.html %}

</body>

</html>
