<!DOCTYPE html>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

{% include head.html %}

<body id="kakmaker">

  {% include header.html %}

  <div id="main" class="alt">
    <section id="one">
      <div class="inner">
        <div class="row kakmaker">
          <div class="6u 12u$(small) kakmaker-image">
            <img src="assets/images/kakmaker-flyer.jpg" alt="Kakmaker flyer" />
          </div>
          <div class="6u 12u$(small)">
            <section class="kakmaker-heading">
              <p class="kakmaker-header">Vanaf <strong>11 september 2017</strong> in de theaters<br />
              <span class="kakmaker-subheader">een nieuw avondje broekplassen onder het motto</span><br />
              <span class="kakmaker-motto">ellende hebben we thuis al</span></p>
            </section>
            <section class="kakmaker-christine">
              <p style="font-size:2em;line-height:.75em;font-style:italic;text-align:center">met<br />
              <img src="assets/images/christine.jpg" alt="Christine" /><br />
              <span style="text-transform:lowercase;font-style:normal;font-size:1.25em;color:#b38585;text-shadow: 0.025em 0 #555, 0 0.025em #555, -0.025em 0 #555, 0 -0.025em #555, -0.025em -0.025em #555, -0.05em 0.025em #555, 0.025em -0.025em #555, 0.025em 0.025em #555;letter-spacing:2px;">Christine</span><br /><br /><br /><br />
              <span style="padding-top:2em;font-style:normal;text-decoration:none;"><a target="_blank" href="https://bunkertheaterzaken.nl/voorstellingen/ton-kas/kakmaker/#tourdata">KLIK</a> voor data en reserveringen</span>
              </p>
            </section>
          </div>
        </div>  
      </div>

    </section>
  </div>

     {% include footer_alt.html %}

</body>

</html>
