<!DOCTYPE html>
<!--
Algemen template voor producties
-->
<html>

{% include head.html %}

<body id="{{ page.naam }}">

  {% include header.html %}

  <div id="main" class="alt">
    <section id="one">
      <div class="row {{ page.naam }} production">
        <div class="production-image">
          <h1 style="text-align:center;font-size:1.125em;font-weight:600;letter-spacing:5.66667px;">{{ page.title }} {{ page.landing-title }}</h1>
          <img src="assets/images/{{ page.naam }}/{{ page.naam }}-medium.jpg" alt="{{ page.title }} flyer" />
        </div>
        <div class="production-text">
          <h4 class="production-header">{{ page.article-header }}</h4>
          {{ content }}
        </div>
      </div>
    </section>
  </div>

     {% include footer_alt.html %}

</body>

</html>
