@font-face {
  font-family: 'IrisUPC';
  src: url('/assets/fonts/upcil.ttf');
}
#kakmaker #main.alt,
#jabroer #main.alt,
#klootviool #main.alt {
  min-height: calc(100vh - 61px);
  @include flexbox;
  @include align-items(center);
  @include justify-content(space-around);

}
#jabroer #main.alt,
#klootviool #main.alt {
  background-image: url(../images/sandy3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  p {
    line-height: 1.125em;
    margin: 0 2em 1em 0;
    font-size: .875em;
    font-weight: bold;
    text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black;
  }
  @media screen and (min-width: 1681px) {
    p {
      font-size: .75em;
    }
  }
}
.production-image {
  width: 40%;
  padding: 1.5em;
  img {
    display: block;
    margin: auto;
    padding-top: 2em;
  }
  h1 {
    text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black;
  }
}
.production-text {
  width: 60%;
  padding: 1.5em;
//  text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black;
}
h1.jabroer-title {
  text-align: center;
}
h4.production-header {
  text-align: right;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  padding-right: 3em;
  text-shadow: 1px 1px black;
  font-size: 1em;
  letter-spacing: 5.66667px;
  text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black;
}
#wrapper > * > .right-bottom {
  margin: 0 auto;
  max-width: 65em;
  width: calc(100% - 6em);
  text-align: center;
}
#banner {
  @include align-items(flex-end);
  @include justify-content(flex-end);
}

/**********************
MEDIA QUERIES
**********************/

@media screen and (max-width: 768px) {
  .production-text, .production-image {
    width: 100%;
  }
  #main > *:first-child {
//    padding-top: 4em;
  }
  #jabroer #main.alt p, #klootviool #main.alt p {
    margin: 0 0 1em 0;
  }
}
