/**********************
KAKMAKER TEMPLATE
**********************/

#kakmaker #main.alt {
  text-align: center;
  background-image: url(../images/sandy3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'IrisUPC';
  p.kakmaker-header {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2.25em;
    line-height: 1em;
    margin: 0;
    text-shadow: 0.025em 0 black, 0 0.025em black, -0.025em 0 black, 0 -0.025em black, -0.025em -0.025em black, -0.05em 0.025em black, 0.025em -0.025em black, 0.025em 0.025em black;
    span.kakmaker-subheader {
      text-transform: lowercase;
      font-size: .75em;
      letter-spacing: 0;
    }
    .kakmaker-motto {
      text-transform: lowercase;
      font-size: 1.5em;
      letter-spacing: 1px;
      font-style: italic;
    }
  }
}
.kakmaker-christine p {
  margin: auto;
  text-shadow: 0.025em 0 black, 0 0.025em black, -0.025em 0 black, 0 -0.025em black, -0.025em -0.025em black, -0.05em 0.025em black, 0.025em -0.025em black, 0.025em 0.025em black;
  a {
    border-bottom: none;
  }
}
.kakmaker-image img {
  width: 80%;
  display: block;
  margin: auto;
}
.kakmaker-heading {
  margin: 1.5em 0 4em 0;
}
.production {
  padding-left: 3em;
  padding-right: 3em;
}
